.heroSection {
  width: 100vw;
  min-height: 190px;
  background: #ffe140;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 68px;
  padding-top: 32px;
  padding-bottom: 8px;
  gap: 44px;
  position: relative;
}

.logoMain {
  width: 330px;
  height: auto;
  object-fit: contain;
  user-select: none;
}

.logoBear {
  width: 86px;
  height: auto;
  object-fit: contain;
  user-select: none;
  margin-bottom: 12px;
}
